@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin:0px;
    padding :0px;
    color:white;
    font-size:2rem;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    color: white;
    background-color:black;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.allCont{
    height: 100svh;
}
.space{
    display:flex;
    justify-content:center;
    height:200px;
    
}
.input{
    padding :140px 0 1.5rem 0;
    font-size:24px;
    color: white;
    border: none;
    background: none;
    font-size: 2rem;
}
.input:focus{
    outline:none;
}

.button{
    height :75px;
    width:75px;
    border-radius:1rem;
    border: none;
    background-color:#262626a4;
    font-size:1.7rem;
    font-weight:300;
}
.container{
    width:350px;
    display:flex;
    justify-content:center;
    gap:0.5rem;
    flex-wrap:wrap;
    align-items:center;
}

.container div{
    width: 100%;
    display:flex;
    justify-content:space-evenly;
    position: relative;
}
.superCo{
    width:100%;
    display:flex;
    justify-content:center;
    position: relative;
    background-image: none;
    border-radius: 1rem;
    object-fit: cover;
}

/* optons */
.optBtn img{
    filter: invert(1);
    position: absolute;
    top: 1rem;
    right: 2rem;
}
.optBtnst{
    filter: invert(0);
}
.options{
    position: absolute;
    left: -800vw;
    height: 100svh;
    width: 350px ;
    background-color: black;
    padding:0 2rem;
}
.options div{
    height: 5em;
    width: 300px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    border-bottom: 1px solid gray;
}
.cancelBox{
    height: 5em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.cancelOptBox{
    height: 5em;
    width: 100%;
    border-bottom:1px solid grey;
}
.cancelBgOptBox{
    height: 5em;
    width: 100%;
    border-bottom:1px solid grey;
}
.cancelOptBtn{
    filter: invert(1);
    position: absolute;
    right: 2rem;
    display: flex;
    align-items: center;
}
.cancelBgOptBtn{
    filter: invert(1);
    position: absolute;
    right: 2rem;
}
.cancelBtn{
    filter: invert(1);
    position: absolute;
    right: 2rem;
}

/* theme options */
.themeOpt{
    height: 100svh;
    width: 350px;
    position: absolute;
    left: -800vw;
    display: flex;
    flex-wrap: wrap;
    background-color:black;
    padding:2rem;
}
.themeOpt div div{
  display: flex;
  align-items: center;
}
.bgOpt{
    height: 100svh;
    width: 350px;
    position: absolute;
    left: -800vw;
    display: flex;
    flex-wrap: wrap;
    background:black;
    padding:2rem;
}
.bgOpt div div{
  display: flex;
  align-items: center;
}
.themeOpt div p{
    display: flex;
    align-items: center;
    padding:10px 10px;
    height: 5em;
    width: 300px;
    border-bottom:1px solid grey;
}
.bgOpt div p{
    display: flex;
    align-items: center;
    padding:10px 10px;
    height: 5em;
    width: 300px;
    border-bottom:1px solid grey;
}

/* resopnsiveness*/

@media (max-width: 1100px) {
    body{
        font-size: 2rem;
    }
    .allCont{
        height: 100svh;
    }
    .superCo{
        width:100svw;
    }
    .container{
        width:100svw;
        gap:2rem;
    }
    .button{
        height:20vw;
        width:20vw;
    }
    .input{
        width:80svw;
    }

    .themeOpt div p{
        width: 100vw;
    }
    .bgOpt{
        width: 100vw;
    }
    .bgOpt div{
        width: 100vw;
    }
    .bgOpt div p{
        width: 100vw;
    }
    .options div{
        width: 100vw;
    }
    .options{
        width: 100vw;
    }
    .themeOpt{
        width: 100vw;
    }
    .themeOpt div p{
        width: 100vw;
    }
    .superCo{
        object-fit: contain;
        mask-repeat: no-repeat;
    }
   
  }
  
